/* Base settings for the whole app */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #011627; /* Nightfly background color */
  color: #d6deeb; /* Nightfly foreground/text color */
  height: 100%;
}

#root,
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* App header (if any) */
.App-header {
  background-color: #1b2b34;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* App content */
.App-content {
  flex: 1;
  overflow: auto;
  padding: 20px;
}

/* Links (if any) */
a {
  color: #82aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons (if any) */
button {
  background-color: #1b2b34;
  color: #d6deeb;
  border: 1px solid #5f7e97;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2c3b4a;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  position: absolute; /* To position it over other content */
  top: 0;
  left: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Other common elements can be styled as well, such as forms, lists, etc. */
